<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardmapper">
  
  <insert id="insert" parameterType="com.steve.springsp.BoardDto">
     insert into board (title,content,create_id,create_dt) values(#{title},#{content},"kmj",now())
  </insert> 
  
  <select id="getBoardList" resultType="Map">
  	SELECT board_no, title, content, create_id FROM board ORDER BY create_dt DESC
  </select>
  
  <select id="getBoardDetail" resultType="Map">
  	SELECT * FROM board WHERE board_no = #{no }
  </select>
  
</mapper>